body{
    background-color: #5f9ea0;
    color: whitesmoke;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: #8B4513;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}